<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550798260716-grvg0ucbt39hguqp9nv3or7lpunotub3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550798260716-grvg0ucbt39hguqp9nv3or7lpunotub3</string>
	<key>API_KEY</key>
	<string>AIzaSyDCZW4hdAZwWc9brUUAEtYGGgVIkgoiehQ</string>
	<key>GCM_SENDER_ID</key>
	<string>550798260716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFirebase</string>
	<key>PROJECT_ID</key>
	<string>torkey-e14ec</string>
	<key>STORAGE_BUCKET</key>
	<string>torkey-e14ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550798260716:ios:75f134b7625c06cc9f28c9</string>
</dict>
</plist>